div {
  border: 7px rgba(128, 128, 128, 0.398) solid;
}
.flexbox {
  display: flex;
  border: 0;
}
.btn {
  text-align: right;
  user-select: none;
}
.btn,
#resposta {
  padding: 10px;
}
.btn {
  width: 20%;
}
#resposta {
  width: 80%;
}
.btn button {
  padding: 3px;
  border: solid rgba(128, 128, 128, 0.398) 2px;
  border-radius: 4px;
  margin: 5px 0 5px 20%;
  cursor: pointer;
}
