body{
    border: 1px solid rgb(69, 171, 255);
    padding: 10px;
}
.bebas{
    font-family: 'Bebas Neue', cursive;
}
.libre{
    font-family: 'Libre Baskerville', serif;

}
.aboreto{
    font-family: 'Aboreto', cursive;
}